name: Build alt-ime-ahk-v2f to EXE

on:
  workflow_dispatch: {}
  release:
    types: [published]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Download AutoHotkey and Ahk2Exe
        shell: pwsh
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          $wd = (Get-Item .).FullName
          # Download
          gh release download --repo AutoHotkey/AutoHotkey --pattern "*.zip" --output "$wd\autohotkey.zip"
          gh release download --repo AutoHotkey/Ahk2Exe --pattern "*.zip" --output "$wd\autohotkey2exe.zip"
          
          # Extract
          Expand-Archive "$wd\autohotkey.zip" "$wd\autoHotkey\" -Force
          Expand-Archive "$wd\autohotkey2exe.zip" "$wd\autoHotkey\Compiler" -Force
          Remove-Item "$wd\*.zip" -Force
          "$wd\autohotkey;$wd\autohotkey\Compiler" >> $env:GITHUB_PATH
          "BaseFile=$wd\autohotkey\AutoHotkey64.exe" >> $env:GITHUB_ENV

      - name: Compile to EXE with Ahk2Exe
        shell: pwsh
        run: |
          New-Item -ItemType Directory -Force -Path dist | Out-Null
          ahk2exe.exe /silent verbose /in "alt-ime-ahk-v2f.ahk" /out "dist\alt-ime-ahk-v2f.exe" /base $env:BaseFile

      - name: Create ZIP archive
        shell: pwsh
        run: |
          Compress-Archive -Path "dist\alt-ime-ahk-v2f.exe" -DestinationPath "dist\alt-ime-ahk-v2f.zip" -Force

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: alt-ime-ahk-v2f-exe
          path: dist/alt-ime-ahk-v2f.exe
          if-no-files-found: error

      - name: Upload to release
        if: github.event_name == 'release'
        env:
          GH_TOKEN: ${{ github.token }}
        shell: pwsh
        run: |
          gh release upload ${{ github.event.release.tag_name }} dist/alt-ime-ahk-v2f.exe dist/alt-ime-ahk-v2f.zip --clobber